<div class="box" *ngIf="actividad$ | async as actividad">
    <div class="contentBox">
    <b>Cliente:</b> {{ actividad.oportunidad?.empresa?.nombre_de_empresa }}  <span style="text-align: left"> <b>Oportunidad: </b>{{ actividad.oportunidad?.nombre_de_oportunidad }}</span><br>
    Fecha de Actividad: {{ actividad.fecha_actividad }}
    Actividad:<br>
        {{ actividad.curr_actividad }}<br><br>

        <form [formGroup]="completarActividadForm"  >
        
            <mat-form-field appearance="fill">
                <mat-label>Fecha actividad completada</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="Fecha Completada" formControlName="fechaCompletada">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="completarActividadForm.controls['fechaCompletada'].invalid">Se necesita nueva fecha de Actvidad</mat-error>
            </mat-form-field>
               
            <br>
            
            <br>
            
            <mat-form-field appearance="fill" >
                <mat-label>Notas</mat-label>
                <input matInput formControlName="notas" placeholder="Notas relevantes a la actividad">
                <mat-error *ngIf="completarActividadForm.controls['notas'].invalid">Se necesitan notas de la actividad</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Fecha nueva actividad</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Nueva Fecha" formControlName="nuevaFecha">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="completarActividadForm.controls['nuevaFecha'].invalid">Se necesita nueva fecha de Actvidad</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Prioridad</mat-label>
                <mat-select *ngIf="prioridadesFetched" formControlName="prioridad" placeholder="Prioridad de Actividad">
                
                    <mat-option *ngFor="let prioridad of prioridades" [value]="prioridad.id">
                        {{prioridad.nombre}}
                    </mat-option>
                
                </mat-select>
                <mat-error *ngIf="completarActividadForm.controls['prioridad'].invalid">Se necesita prioridad de Actvidad</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Actividad Nueva</mat-label>
                <input matInput formControlName="nuevaActividad" placeholder="Nueva Actividad">
                <mat-error *ngIf="completarActividadForm.controls['nuevaActividad'].invalid">Se necesita nueva Actividad</mat-error>
            </mat-form-field>
            <br>
           
            
        </form>
    <button mat-raised-button color="primary" (click)="actividadCompletar()">Completar Actividad</button> 
    <button mat-raised-button color="primary" (click)="closeView()">Cancelar Completar</button>
</div>
   
      
</div>